{% if posts|default and posts|length > 0 %}
    <nav class="row g-5 justify-content-md-center">
        {% for post in posts %}
            {% include 'navigations/signpost/signpost-item.html.twig' %}
        {% endfor %}
    </nav>
{% endif %}
