{% if posts|default and posts|length > 0 %}
    <nav>
        <section class="row my-3 g-5 justify-content-md-center">
            {% for post in posts %}
                {% include 'navigations/signpost/signpost-item.html.twig' %}
            {% endfor %}
        </section>
    </nav>
{% endif %}
