{% extends "post-types/page.html.twig" %}

{% block article_signpost %}
    {% set subPosts = posts|default and posts|length > 0 ? posts : post.children %}
    <nav class="row mt-3 mb-5 g-5 justify-content-md-center">
        {% if posts|default and posts|length > 0 %}
            {% for post in posts %}
                {% include 'post-previews/_post_preview_horizontal_search.html.twig' %}
                {{ dump(post) }}
            {% endfor %}
        {% else %}
            <div class="col-12">
                <p>Nebyly nalezeny žádné stránky odpovídající vyhledávacím kritériím.</p>
            </div>
        {% endif %}
    </nav>
{% endblock article_signpost %}
