{% extends "post-types/page.html.twig" %}

{% block article_content %}
    <!-- VYUKOVY MATERIAL -->
    {% if (post.content|default and post.content|length > 0) or (content|default and content|length > 0) %}
        <div class="row my-5">
            <div class="col-12">
                {{ post.content|default(content|default) }}
            </div>
        </div>
    {% endif %}
    <div class="row my-5">
        {% if post.documents|length > 0 %}
            <div class="col-12">
                <h3>Pracovní listy</h3>
                <ul>
                    {% for document in post.documents %}
                        <li class="text-uppercase">
                            <strong>{{ document.document_name }}</strong>: {{ get_file(document.document_file) }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
{% endblock article_content %}

{% block article_signpost %}
{% endblock article_signpost %}
