{% if items|default and items|length > 0 %}
    <ul itemscope
        itemtype="http://schema.org/SiteNavigationElement"
        class="menu hover-bold"
        style="font-size: {{ fontSize ? fontSize : '1em' }}">
        {% for item in items %}
            {% include 'navigations/menu/menu-item.html.twig' %}
        {% endfor %}
        {% if is_header|default %}
            <li class="{{ item.classes | join(' ') }}">
                <!--suppress HtmlUnknownAnchorTarget -->
                <a itemprop="url"
                   class="px-4 py-2"
                   data-bs-toggle="collapse"
                   href="#searchCollapse"
                   role="button"
                   aria-expanded="{{ search|default ? true : false }}"
                   aria-controls="searchCollapse">
                    <span itemprop="name">🔎</span>
                </a>
            </li>
        {% endif %}
    </ul>
{% endif %}
