@import "bootstrap-up";

.interactive-periodical-table {
  display: grid;
  width: 100%;
  min-width: 780px;
  min-height: 580px;
  max-height: 80vh;
  grid-template-columns: 1fr repeat(18, 2fr);
  grid-template-rows: 2fr repeat(7, 3fr) 1fr repeat(2, 3fr);
  grid-gap: 0;
  text-align: center;

  .element {
    border-color: blue;
    background-color: lightblue;
    border-width: .15em;
    clip-path: polygon(2em 100%, 0 calc(100% - 2em));
  }

}


