@import "bootstrap-up";

.interactive-periodical-table {
  display: grid;
  margin: auto;
  grid-template-columns: 2em repeat(18, auto);
  grid-template-rows: repeat(7, auto) 1em repeat(2, auto);
  grid-gap: 0;
  justify-content: center;

  text-align: center;


}