@import "bootstrap-up";

.interactive-periodical-table {
  display: grid;
  width: 100%;
  min-width: 780px;
  min-height: 580px;
  max-height: 80vh;
  grid-template-columns: 1fr repeat(18, 2fr);
  grid-template-rows: 2fr repeat(7, 3fr) 1fr repeat(2, 3fr);
  grid-gap: .1em;
  text-align: center;

  .element {
    background-color: blue;
    clip-path: polygon(
                    0% 0%, /* top left */
                    100% 0%, /* top right */
                    100% 100%, /* bottom right */
                    1em 100%, /* bottom left */
                    0 calc(100% - 1em) /* bottom left */
    );
    .element-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: calc(100% - .5em);
      height: calc(100% - .5em);
      margin: .25em;
      background-color: lightblue;
      clip-path: polygon(
                      0% 0%, /* top left */
                      100% 0%, /* top right */
                      100% 100%, /* bottom right */
                      1em 100%, /* bottom left */
                      0 calc(100% - 1em) /* bottom left */
      );

      > * {
        display: block;
      }
    }
  }

}


