$rfs-base-value: 0.8rem;

@import "wordpress_core";
@import "bootstrap-up";
@import "interactive-periodical-table";
@import "~swiper/swiper-bundle.min.css";
@import "tom-select/dist/scss/tom-select.bootstrap5";

html {
  overflow-x: hidden;
}

p {
  text-align: justify;
}

figcaption {
  font-size: small;
  text-align: center;
}

a {
  text-decoration: none;

  &.hover-bold:hover {
    font-weight: bold;
  }
}

h3 {
  margin: 0;
  font-size: medium;
  font-weight: normal;
}

h4 {
  color: $primary;
  font-size: 1.3em !important;
  margin: 1em 0;
}

h5 {
  color: $black;
  font-size: 1.2em !important;
  margin: 1em 0;
}

.hover-bold {
  a {
    &:hover {
      font-weight: bold;
    }
  }
}

.footer-eu-msmt-image, .footer-eu-eu-msmt-widget-image {
  max-height: 10em;
  @media all and (max-width: 900px) {
    max-height: 8em;
  }
  @media all and (max-width: 700px) {
    max-height: 6em;
  }
}

.page-banner {
  h1 {
    font-size: 4em;

    &.single-heading {
      font-size: 6em;
    }
  }
}

.rounded-tabs {
  margin-left: -16px;
  margin-right: -16px;
  line-height: 1.1;

  .rounded-tab {
    //  bg-white text-primary
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: $primary;
    color: $white;
    border-top-left-radius: 1.2em !important;
    border-top-right-radius: 1.2em !important;

    &.active {
      background-color: $white;
      color: $primary;
    }
  }
}

.signpost-card {
  background-color: rgba(200, 200, 255, .25) !important;

  h3 {
    font-size: 1.15em;
  }

  &:hover {
    h3 {
      color: $black;
    }
  }

  .card-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 90%;
  }

  &:hover {
    background-color: rgba(200, 200, 255, .35) !important;
  }
}

.primary-menu {
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;

    > li {
      display: flex;
      height: 100%;
      flex-direction: column;
      vertical-align: middle;
      justify-content: center;
      list-style-type: none;

      &.current-menu-item,
      &.current-page-ancestor {
        a {
          color: $secondary;
        }
      }

      a {
        color: $dark;
        font-weight: bolder;
        transition: color 500ms;

        &:hover {
          color: $secondary;
        }
      }

      @media (max-width: 800px) {
        font-size: .7em;
      }
    }
  }
}

.text-light {
  a {
    color: $light;
  }
}

.text-justify {
  text-align: justify !important;
}

