$rfs-base-value: 0.8rem;

@import "bootstrap-up";
@import "interactive-periodical-table";

.footer-eu-msmt-image {
  max-height: 6em;
}

.page-banner {
  .title-box {
    h1 {
      font-size: 4em;

      &.single-heading {
        font-size: 6em;
      }
    }
  }

  .image-box {
    background-position: center;
    background-size: cover;
    min-height: 20em;
  }
}

.signpost-card {
  background-color: rgba(200, 200, 255, .25) !important;

  .card-img-top {
    max-width: 85%;
  }

  &:hover {
    background-color: rgba(200, 200, 255, .35) !important;
  }
}

.primary-menu {
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;

    > li {
      display: flex;
      height: 100%;
      flex-direction: column;
      vertical-align: middle;
      justify-content: center;
      list-style-type: none;

      &.current-menu-item,
      &.current-page-ancestor {
        a {
          color: $secondary;
        }
      }

      a {
        color: $dark;
        font-weight: bolder;
        transition: color 500ms;

        &:hover {
          color: $secondary;
        }
      }
    }
  }
}

a {
  text-decoration: none;
  &.hover-bold:hover {
    font-weight: bold;
  }
}

.hover-bold {
  a {
    &:hover {
      font-weight: bold;
    }
  }
}

.text-light {
  a {
    color: $light;
  }
}

.text-justify {
  text-align: justify !important;
}
