.primary-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;

  > li {
    display: flex;
    height: 100%;
    flex-direction: column;
    vertical-align: middle;
    justify-content: center;
    list-style-type: none;

    a {
      color: #444;
      font-weight: bolder;
      text-decoration: none;
      transition: color 500ms;

      &:hover {
        color: #ee3a6a;
      }
    }
  }
}