{% extends "layouts/default-page.html.twig" %}
{% set periodicalTable = site.theme.link ~ '/images/others/periodical-table.png' %}

{% block body_content %}
    <div class="container">
        <article class="row post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
            <section class="col-12">
                <img src="{{ periodicalTable }}" class="img-fluid d-block mx-auto" alt="Periodická soustava prvků">
            </section>
            <section class="col-12">
                {{ post.content }}
            </section>
        </article>
    </div>
{% endblock body_content %}
