{% extends "post-types/page.html.twig" %}

{% block page_content %}
    <main class="container content-wrapper">
        <article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
            {% include 'post-parts/page-banner-header-row.html.twig' with {image: post.thumbnail, title: post.title} %}

            {% for element in elements %}

                <p>
                    {{ element.title }}
                </p>

            {% endfor %}

        </article>
    </main>
{% endblock page_content %}
