{% extends "layouts/default-page.html.twig" %}

{% block content %}
    <h2>{{ foo }}</h2>
    <p>{{ qux }}</p>
    {% for post in posts %}
        {% include 'post-parts/tease-include.html.twig' with {post_type: post.post_type} %}
    {% endfor %}

    {% include 'post-parts/pagination.html.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
{% endblock %}
