{% set primaryMenu = menu.primary %}

{% if primaryMenu %}
    <ul itemscope itemtype="http://schema.org/SiteNavigationElement" class="text-uppercase primary-menu">
        {% for item in primaryMenu.items %}
            <li class="{{ item.classes | join(' ') }}">
                <a target="{{ item.target }}" href="{{ item.link }}" itemprop="url" class="px-4 py-2">
                    <span itemprop="name">{{ item.title }}</span>
                </a>
                {% include "post-parts/menu.html.twig" with {'items': item.children} %}
            </li>
        {% endfor %}
    </ul>
{% endif %}
