{% if posts|default and posts|length > 0 %}
    <nav>
        <section class="row mt-3 mb-5 g-5 justify-content-md-center">
            {% for post in posts %}
                {% include 'post-parts/layout/signpost-item.html.twig' %}
            {% endfor %}
        </section>
    </nav>
{% endif %}
