{% set logo = site.theme.link ~ '/images/logo/prf_katedra-anorganicke-chemie_cz_barva.svg' %}

<header id="header" class="container website-header mt-0 mt-lg-2 mb-3">
    <div class="row justify-content-evenly">
        {# Logo and (hidden) name/title of website. #}
        <h1 class="col-12 col-md-3 order-1 order-md-0 fs-6 fs-lg-5 py-1 py-lg-2">
            <a href="{{ site.url }}" rel="home" class="d-flex justify-content-center justify-content-lg-start">
                <span class="d-none">{{ site.name }}</span>
                <img src="{{ logo }}" alt="{{ site.name }}" class="img-fluid">
            </a>
        </h1>
        <nav class="col-12 col-md-9 order-0 order-md-1 primary-menu text-uppercase" role="navigation">
            {% include "navigations/menu/menu.html.twig" with {'items': menu.primary.get_items, is_header: true} %}
        </nav>
    </div>
    <div class="row collapse" id="searchCollapse">
        <form action="/" method="get">
            <div class="form-group">
                <div class="col-12 input-group my-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">🔎</span>
                    </div>
                    <input type="search"
                           name="s"
                           class="form-control"
                           placeholder="Hledané slovo"
                           aria-label="Vyhledávání"
                           aria-describedby="basic-addon1">
                </div>
            </div>
        </form>
    </div>
</header>

