{% extends "post-types/page.html.twig" %}

{# Page with interactive industry map. #}

{% set map = site.theme.link ~ '/images/others/map.png' %}

{% block body_content %}
    <div class="container">
        <article class="row post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
            <section class="col-12">
                <div class="ratio ratio-21x9">
                    {% apply shortcodes %}
                        [leaflet-map]
                        [leaflet-marker
                            lat=49.591796708243166
                            lng=17.027091979980472
                            iconUrl="https://i.imgur.com/Q54ueuO.png"
                            iconSize="80,50"
                            iconAnchor="40,60"]
                    {% endapply %}
                </div>
            </section>
            <section class="col-12">
                {{ post.content }}
            </section>
        </article>
    </div>
{% endblock body_content %}
