{% extends "post-types/page.html.twig" %}

{% block article_content %}

    <nav class="nav row my-3 p-0 rounded-tabs" id="nav-tab">
        <button class="rounded-tab col m-0 mt-3 mx-1 px-5 px-xl-4 py-2 border border-2 border-primary active"
                id="nav-tab-0"
                data-bs-toggle="tab"
                data-bs-target="#nav-0"
                type="button"
                role="tab"
                aria-controls="nav-0"
                aria-selected="true">
            Náhodný test na chemické názvosloví
        </button>
    </nav>

    <section class="row">
        <div class="tab-content col-12" id="nav-tabContent">

            <div class="tab-pane fade show active" id="nav-0" role="tabpanel" aria-labelledby="nav-tab-0">

                <div class="w-100 m-0 container-fluid">

                    {% if post.content|default %}
                    <div class="row">
                        <div class="col-12">
                            {{ post.content|default(content|default) }}
                        </div>
                    </div>
                    {% endif %}

                    <form class="row">
                        <label class="col-12 mt-3" for="categories">
                            <strong>Obsah zadání</strong>
                        </label>
                        <select id="categories" class="col-12 mb-2" multiple placeholder="" name="categories">
                            <optgroup label="TV Shows">
                                <option value="Blue Bloods" data-date="2010-2021">Blue Bloods (2010-2021)</option>
                                <option value="Magnum P.I." data-date="1980-1988" selected>Magnum P.I. (1980-1988)</option>
                            </optgroup>
                            <optgroup label="Movies">
                                <option value="An Innocent Man" data-date="1989">An Innocent Man (1989)</option>
                                <option value="In & Out" data-date="1997">In & Out (1997)</option>
                                <option value="Lassiter" data-date="1984">Lassiter (1984)</option>
                                <option value="Mr. Baseball" data-date="1992">Mr. Baseball (1992)</option>
                                <option value="Quigley Down Under" data-date="1990">Quigley Down Under (1990)</option>
                                <option value="Three Men and a Baby" data-date="1987">Three Men and a Baby (1987)</option>
                            </optgroup>
                        </select>

                        <div class="form-group col-12 col-md-6">
                            <label>
                                <strong class="d-block">Počet příkladů</strong>
                                <input class="d-block form-control" type="number" name="count" min="1" max="20">
                            </label>
                        </div>

                        <div class="form-group col-12 col-md-6">
                            <label for="level">
                                <span class="d-block">Obtížnost</span>
                                <select id="level" class="d-block form-control" name="level">
                                    <option value="1">Lehká</option>
                                    <option value="3">Středně těžká</option>
                                    <option value="5">Těžká</option>
                                </select>
                            </label>
                        </div>

                    </form>



                </div>



            </div>

        </div>
    </section>

{% endblock %}

{% block article_signpost %}
{% endblock %}
