{% extends "post-types/page.html.twig" %}

{#
Theme for page with list of contact persons.
This page theme can be selected as custom theme of single "page" type post (due to config in "theme/page_periodical-table.php").
#}

{% set periodicalTable = site.theme.link ~ '/images/others/periodical-table.png' %}

{% block body_content %}
    <div class="container">
        <article class="row post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
            <section class="col-12">
                <img src="{{ periodicalTable }}" class="img-fluid d-block mx-auto" alt="Periodická soustava prvků">
            </section>
            <section class="col-12">
                {{ post.content }}
            </section>
        </article>
    </div>
{% endblock body_content %}
