{% extends "post-types/page.html.twig" %}

{% block article_content %}
    {% if (post.content|default and post.content|length > 0) or (content|default and content|length > 0) %}
        <div class="row my-5">
            <div class="col-12">
                {{ post.content|default(content|default) }}
            </div>
        </div>
    {% endif %}

    {% include 'navigations/sub-tabs/sub-tabs.html.twig' %}

    <div class="row mt-0 mb-5 px-2">
        {% for material in materials %}
            {% include 'post-previews/_photo_preview_vertical.twig' with {post: material} %}
        {% endfor %}
        {% if materials|length < 1 %}
            <article class="col-12 mt-5">
                <p><strong>V této kategorii bohužel ještě nejsou žádné fotografie.</strong></p>
            </article>
        {% endif %}
    </div>
{% endblock article_content %}

{% block article_signpost %}
{% endblock article_signpost %}
