{% extends "post-types/page.html.twig" %}

{% block article_signpost %}
{% endblock %}

{% block article_content %}
    <section class="row my-5">
        <div class="col-12">
            {{ post.content }}
        </div>
    </section>
{% endblock %}
