{% extends "post-types/page.html.twig" %}

{% block article_signpost %}
{% endblock %}

{% block article_content %}
    {% if post.content|default %}
        <section class="row">
            <div class="col-12">
                <div>
                    {{ post.content }}
                </div>
            </div>
        </section>
    {% endif %}

    {% if post.children|length > 0 %}
        {% set tabs = post.children|sort((a, b) => a.priority <=> b.priority) %}
        {% include 'navigations/sub-tabs/sub-content-tabs.html.twig' %}
    {% endif %}

{% endblock %}
