{% extends "post-types/page.html.twig" %}

{% block article_signpost %}
{% endblock %}

{% block article_content %}
    {% if post.content|default %}
        <section class="row">
            <div class="col-12">
                <div>
                    {{ post.content }}
                </div>
            </div>
        </section>
    {% endif %}

    {% include 'navigations/sub-tabs/sub-content-tabs.html.twig' with {tabs: post.children('industry_field')} %}

{% endblock %}
