{% extends "post-types/page.html.twig" %}

{% block article_content %}
    {{ parent('article_content') }}

    <div class="row my-5 border border-3 border-primary border-top">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                {% for equation in equations %}
                    <div class="swiper-slide">
                        <div class="col-12">
                            {{ equation.assignment|apply_filters('the_content') }}
                        </div>
                        <div class="col-12">
                            {{ equation.solution|apply_filters('the_content') }}
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
{% endblock %}


{% block article_signpost %}
{% endblock %}
