{% extends "post-types/page.html.twig" %}

{% block article_signpost %}
{% endblock %}

{% block article_content %}
    <section class="row my-5">
        <div class="col-12">
            <div>
                {{ post.content }}
            </div>
        </div>
            <nav class="col-12">
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    {% for tab in post.tabs %}
                        <button class="nav-link {{ 1 <= 1 ? ' active' : '' }}"
                                id="nav-tab-{{ 1 }}"
                                data-bs-toggle="tab"
                                data-bs-target="#nav-{{ 1 }}"
                                type="button"
                                role="tab"
                                aria-controls="nav-profile"
                                aria-selected="{{ 1 <= 1 ? 'true' : 'false' }}">
                            {{ tab.tab_title }}
                        </button>
                    {% endfor %}
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                {% for tab in post.tabs %}
                    <div class="tab-pane fade {{ 1 <= 1 ? ' show active' : '' }}"
                         id="nav-{{ 1 }}"
                         role="tabpanel"
                         aria-labelledby="nav-tab-{{ 1 }}">
                        {{ tab.tab_content }}
                    </div>
                {% endfor %}
            </div>

    </section>
{% endblock %}
