{% extends "post-types/page.html.twig" %}

{% block article_signpost %}
{% endblock %}

{% block article_content %}
        <section class="row my-5">
            <div class="col-12">
                <h3>{{ post.title }}</h3>
                <div style="text-align: justify;">
                    {{ post.content }}
                </div>
            </div>
        </section>
{% endblock %}
