<div class="sub-department mb-5">
    <h4>
        {{ department.name|default('Další kontakty') }}
    </h4>
    {% for person in department.persons %}
        {% include 'post-parts/contact/contact-person.html.twig' %}
    {% endfor %}
</div>
